html, body{
    height: 100%;
    width:100%;
    overflow: hidden;
    margin:0;
}

.grass, .sky, .road {
    position: relative;
}

.sky {
    height: 40%;
    background: skyblue;
}

.grass {
    height: 30%;
    background: seagreen;
}

.road {
    height:30%;
    background: dimgray;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}

.lines {
    box-sizing: border-box;
    border: 5px dashed white;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}

img{
    max-width: 110px;
}

/* elements to animate */

#pikachu {
    position: absolute;
    top: -40px;
    left: 0px;
    animation-name: drive;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#meow {
    position: absolute;
    top: 40px;
    left: -80px;
    animation-name: drive;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
}

#jpuff {
    position: absolute;
    bottom: 0px;
    left: -80px;
    animation: drive 4s linear 1s infinite reverse both,
                jump 0.2s ease 1s infinite;
}

#mew{
    animation: fly 5s ease-in infinite both;
}

/* keyframes */

@keyframes drive{
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(1400px);
    }
}

@keyframes fly{
    0%{
        transform: translate(-200px, 0px);
    }
    25%{
        transform: translate(-50px, -25px);
    }
    50%{
        transform: translateX(-10px) rotate(15deg);

    }
    75%{
        transform: translate(-170px, -50px);
    }
    100%{
        transform: translate(1400px, -70px);
    }
}

@keyframes jump{
    0% {
        bottom: 0px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 0px;
    }
}


